@import "tailwindcss";

body {
  font-family: "Oswald", serif;
}

.fondo {
  background-image: url('/fondo2.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
}